In [36]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('/home/kevin/Downloads/titanic.csv')

In [16]:
df.loc[df['Sex'] == 'female', 'Survived'].value_counts()

1    233
0     81
Name: Survived, dtype: int64

In [89]:
a = df.groupby(['Survived', 'Sex']).size().reset_index()

In [91]:
a.pivot(index='Sex', columns='Survived', values=0)

Survived    0    1
Sex
female     81  233
male      468  109

In [94]:
pd.crosstab(df['Sex'], df['Survived'], normalize='index')

Survived         0         1
Sex
female    0.257962  0.742038
male      0.811092  0.188908

In [12]:
def count_female():
    import csv
    with open('/home/kevin/Downloads/titanic.csv') as f:
        reader = csv.reader(f)
        num_female = 0
        for row in reader:
            if row[4] == 'female':
                num_female += int(row[1])
    return num_female

In [13]:
count_female()

233